[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM *"
    Content-Security-Policy = "frame-ancestors *"
    Access-Control-Allow-Origin = "*"
