@import '../../styles/variables';
@import '../../styles/mixins';

.document-footer {
  padding: $spacing-sm $spacing-xl;
  border-top: 1px solid $color-border;
  background: $color-bg-light;

  &__word-count {
    font-size: $font-xs;
    color: $color-text-secondary;
  }
}
