@import '../../styles/variables';
@import '../../styles/mixins';

.split-layout {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0;

  &__left,
  &__right {
    height: 100%;
    overflow: hidden;
  }

  @include tablet {
    flex-direction: column;

    &__left,
    &__right {
      width: 100% !important;
      height: auto;
    }

    &__left {
      height: 60%;
      border-right: none;
      border-bottom: 1px solid $color-border;
    }

    &__right {
      height: 40%;
    }
  }
}
